<%= form_with(model: @bookmark, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :account_id %>

    <%= f.collection_select :account_id, Account.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :movie_id, value: @movie.id %>

  <%= f.submit "Create bookmark", class: "btn btn-block btn-outline-secondary" %>
<% end %>
