<% was_validated = review.errors.any? %>

<%= form_with(model: review, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for account_id start -->
  <div class="form-group">
    <% account_class = "form-control" %>
    <% account_was_invalid = review.errors.include?(:account) %>

    <% if was_validated %>
      <% if account_was_invalid %>
        <% account_class << " is-invalid" %>
      <% else %>
        <% account_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :account_id %>
    <!-- Input for account_id start -->
    <%= f.collection_select :account_id, Account.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for account_id end -->
    <% if account_was_invalid %>
      <% review.errors.full_messages_for(:account).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for account_id end -->
  <!-- Label and input for movie_id start -->
  <div class="form-group">
    <% movie_class = "form-control" %>
    <% movie_was_invalid = review.errors.include?(:movie) %>

    <% if was_validated %>
      <% if movie_was_invalid %>
        <% movie_class << " is-invalid" %>
      <% else %>
        <% movie_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :movie_id %>
    <!-- Input for movie_id start -->
    <%= f.number_field :movie_id, class: movie_class, placeholder: "Enter movie" %>
    <!-- Input for movie_id end -->
    <% if movie_was_invalid %>
      <% review.errors.full_messages_for(:movie).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for movie_id end -->
  <!-- Label and input for description start -->
  <div class="form-group">
    <% description_class = "form-control" %>
    <% description_was_invalid = review.errors.include?(:description) %>

    <% if was_validated %>
      <% if description_was_invalid %>
        <% description_class << " is-invalid" %>
      <% else %>
        <% description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :description %>
    <!-- Input for description start -->
    <%= f.text_field :description, class: description_class, placeholder: "Enter description" %>
    <!-- Input for description end -->
    <% if description_was_invalid %>
      <% review.errors.full_messages_for(:description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for description end -->
  <!-- Label and input for rating start -->
  <div class="form-group">
    <% rating_class = "form-control" %>
    <% rating_was_invalid = review.errors.include?(:rating) %>

    <% if was_validated %>
      <% if rating_was_invalid %>
        <% rating_class << " is-invalid" %>
      <% else %>
        <% rating_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :rating %>
    <!-- Input for rating start -->
    <%= f.number_field :rating, class: rating_class, placeholder: "Enter rating" %>
    <!-- Input for rating end -->
    <% if rating_was_invalid %>
      <% review.errors.full_messages_for(:rating).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for rating end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
