<div class="card mb-3">
  <h2 class="card-header h4">
    Account #<%= account.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Username</dt>
      <!-- Display username start -->
      <dd><%= account.username %></dd>
      <!-- Display username end -->

      <dt>Email</dt>
      <!-- Display email start -->
      <dd><%= account.email %></dd>
      <!-- Display email end -->

      <dt>Password</dt>
      <!-- Display password start -->
      <dd><%= account.password %></dd>
      <!-- Display password end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back account, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link account start -->
      <div class="col">
        <%= link_to edit_account_url(account), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link account end -->

      <!-- Delete link account start -->
      <div class="col">
        <%= link_to account, method: :delete, data: { confirm: "Do you really want to delete this account?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link account end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(account.updated_at) %> ago
  </div>
</div>
